Repository openstack/skyline-apiserver: changes, and which Zuul jobs are due for each by the changed paths.
All: skyline-tox-py38, skyline-functional-devstack

skyline-tox-py38:
  parent: openstack-tox-py38
  description: 'Skyline py38 unittest tests
  
    '
  vars:
    python_version: 3.8
    tox_envlist: py38

skyline-functional-devstack:
  parent: devstack
  description: 'Skyline functional tests job based on devstack (single-node).
  
    '
  pre-run: playbooks/devstack/pre.yaml
  run:
  - playbooks/devstack/run-devstack.yaml
  - playbooks/devstack/run-tox.yaml
  post-run:
  - playbooks/devstack/post.yaml
  required-projects:
  ...

docs: Add more for contributor introduction
  README.rst
  doc/source/admin/index.rst
  doc/source/common/glossary.rst
  doc/source/configuration/settings.rst
  doc/source/contributor/backporting.rst
  doc/source/contributor/development.environment.rst
  doc/source/contributor/documentation.rst
  doc/source/contributor/index.rst
  doc/source/contributor/releases.rst
  doc/source/index.rst
  doc/source/user/index.rst
Due: none

feat: Support uuid filter for volume snapshots list
  skyline_apiserver/api/v1/extension.py
  swagger.json
Due: skyline-tox-py38, skyline-functional-devstack

fix: Fix member use has no snapshot_id filter for volumes
  skyline_apiserver/api/v1/extension.py
Due: skyline-tox-py38, skyline-functional-devstack

refactor: Remove invalid codes for volumes and snapshots
  requirements.txt
  skyline_apiserver/api/v1/extension.py
Due: skyline-tox-py38, skyline-functional-devstack

feat: Return both id and name of children volume for snapshots
  skyline_apiserver/api/v1/extension.py
  skyline_apiserver/schemas/extension.py
  swagger.json
Due: skyline-tox-py38, skyline-functional-devstack

fix: Fix empty projects in profile
  skyline_apiserver/api/v1/login.py
  skyline_apiserver/client/openstack/system.py
Due: skyline-tox-py38, skyline-functional-devstack

fix: Set bool as string for bootable and multiattach
  skyline_apiserver/api/v1/extension.py
Due: skyline-tox-py38, skyline-functional-devstack

refactor: Move all wrapper into wrapper folder
  skyline_apiserver/api/v1/extension.py
  skyline_apiserver/api/wrapper/__init__.py
  skyline_apiserver/api/wrapper/openstack.py
  skyline_apiserver/api/wrapper/skyline.py
Due: skyline-tox-py38, skyline-functional-devstack

fix: Add envdir to common commands in tox
  tox.ini
Due: skyline-tox-py38, skyline-functional-devstack

fix: Check project_id when supply uuid filter
  skyline_apiserver/api/v1/extension.py
  skyline_apiserver/client/openstack/cinder.py
Due: skyline-tox-py38, skyline-functional-devstack

chore: Add license for python file and update policy
  skyline_apiserver/api/v1/prometheus.py
  skyline_apiserver/cmd/policy_manager.py
  skyline_apiserver/policy/manager/barbican.py
  skyline_apiserver/policy/manager/cinder.py
  skyline_apiserver/policy/manager/glance.py
  skyline_apiserver/policy/manager/heat.py
  skyline_apiserver/policy/manager/ironic.py
  skyline_apiserver/policy/manager/ironic_inspector.py
  skyline_apiserver/policy/manager/keystone.py
  skyline_apiserver/policy/manager/magnum.py
  skyline_apiserver/policy/manager/manila.py
  skyline_apiserver/policy/manager/neutron.py
  skyline_apiserver/policy/manager/nova.py
  skyline_apiserver/policy/manager/octavia.py
  skyline_apiserver/policy/manager/placement.py
  skyline_apiserver/policy/manager/trove.py
  skyline_apiserver/policy/manager/zun.py
  skyline_apiserver/schemas/prometheus.py
Due: skyline-tox-py38, skyline-functional-devstack

chore: Add description for api params
  skyline_apiserver/api/v1/contrib.py
  skyline_apiserver/api/v1/extension.py
  skyline_apiserver/api/v1/login.py
  skyline_apiserver/api/v1/prometheus.py
  swagger.json
Due: skyline-tox-py38, skyline-functional-devstack

fix: Add enable field in profile
  skyline_apiserver/api/v1/login.py
Due: skyline-tox-py38, skyline-functional-devstack

fix: Fix server_name is null in volumes attachment
  skyline_apiserver/api/v1/extension.py
Due: skyline-tox-py38, skyline-functional-devstack

docs: Restore the README.rst
  README-zh_CN.rst
  README.rst
Due: none

docs: replace "deployment with mariadb" chapter with links
  README-zh_CN.rst
  README.rst
Due: none

docs: fix rst syntax error about links
  README-zh_CN.rst
  README.rst
Due: none

fix: Fix to add compute:kuryr for device_owner filter
  skyline_apiserver/schemas/extension.py
  swagger.json
Due: skyline-tox-py38, skyline-functional-devstack

fix: Update policy
  skyline_apiserver/policy/manager/barbican.py
  skyline_apiserver/policy/manager/glance.py
  skyline_apiserver/policy/manager/ironic.py
  skyline_apiserver/policy/manager/manila.py
  skyline_apiserver/policy/manager/nova.py
Due: skyline-tox-py38, skyline-functional-devstack

docs: Add rc1 release notes
  releasenotes/notes/zed-rc1-releasenotes-64e094a9e82daa0b.yaml
Due: skyline-tox-py38

fix: Lack of Octavia device owner of port
  skyline_apiserver/schemas/extension.py
  swagger.json
Due: skyline-tox-py38, skyline-functional-devstack

Update .gitreview for stable/zed
  .gitreview
Due: skyline-tox-py38, skyline-functional-devstack

Update TOX_CONSTRAINTS_FILE for stable/zed
  tox.ini
Due: skyline-tox-py38, skyline-functional-devstack

Update master for stable/zed
  releasenotes/source/index.rst
  releasenotes/source/zed.rst
Due: none

fix: Add enforce_new_defaults configuration
  doc/source/configuration/settings.rst
  etc/skyline.yaml.sample
  skyline_apiserver/api/v1/policy.py
  skyline_apiserver/config/openstack.py
Due: skyline-tox-py38, skyline-functional-devstack

fix: Update policy
  skyline_apiserver/policy/manager/manila.py
Due: skyline-tox-py38, skyline-functional-devstack

fix: Set stable-zed version of skyline-console to use
  Makefile
Due: skyline-tox-py38, skyline-functional-devstack

fix: Use constraints file when build skyline image
  container/Dockerfile
Due: none

feat: Add log_file config into skyline.yaml.sample
  README.rst
  devstack/plugin.sh
  devstack/settings
  doc/source/configuration/settings.rst
  doc/source/install/docker-install-ubuntu.rst
  doc/source/install/source-install-ubuntu.rst
  etc/gunicorn.py
  etc/skyline.yaml.sample
  releasenotes/notes/add-log-file-config-884e7d078feb43a7.yaml
  skyline_apiserver/config/default.py
  skyline_apiserver/main.py
  skyline_apiserver/templates/nginx.conf.j2
Due: skyline-tox-py38, skyline-functional-devstack

feat: Support both http and https for nginx.conf.j2 template
  container/start_service.sh
  releasenotes/notes/support-http-as-default-5b723ad51c0995fa.yaml
  skyline_apiserver/templates/nginx.conf.j2
Due: skyline-tox-py38, skyline-functional-devstack

feat: Add API docs
  README-zh_CN.rst
  README.rst
  doc/source/install/docker-install-ubuntu.rst
  releasenotes/notes/add-api-doc-5aaffa4e93ca469a.yaml
  skyline_apiserver/cmd/generate_nginx.py
  skyline_apiserver/templates/nginx.conf.j2
Due: skyline-tox-py38, skyline-functional-devstack

Remove unicode literal from code
  doc/source/conf.py
Due: skyline-tox-py38, skyline-functional-devstack

docs: Update doc with how to enable ssl
  doc/source/install/docker-install-ubuntu.rst
Due: none

fix: Fix the devstack for python3.8 and version in requirements
  devstack/plugin.sh
  test-requirements.txt
Due: skyline-tox-py38, skyline-functional-devstack

fix: Fix test requirement
  test-requirements.txt
Due: skyline-tox-py38, skyline-functional-devstack

Fix spelling for admin role in Barbican policy
  skyline_apiserver/policy/manager/barbican.py
Due: skyline-tox-py38, skyline-functional-devstack

fix: Fix keystone_url default sample
  doc/source/configuration/settings.rst
  etc/skyline.yaml.sample
  skyline_apiserver/config/openstack.py
Due: skyline-tox-py38, skyline-functional-devstack

feat: Add cafile conf
  releasenotes/notes/support-keystone-ssl-verify-e0dfc4c02ef25cb2.yaml
  skyline_apiserver/api/v1/login.py
  skyline_apiserver/client/openstack/system.py
  skyline_apiserver/client/utils.py
  skyline_apiserver/cmd/generate_nginx.py
  skyline_apiserver/config/default.py
Due: skyline-tox-py38, skyline-functional-devstack

Path conditions:
  skyline-tox-py38: unless all of: ^container/.*$, ^devstack/.*$, ^docs/.*$, ^tools/.*$, ^.*\.rst$, ^.*\.md$, ^kolla/.*$
  skyline-functional-devstack: unless all of: ^container/.*$, ^docs/.*$, ^tools/.*$, ^.*\.rst$, ^.*\.md$, ^kolla/.*$, ^releasenotes/.*$
