Repository openstack/skyline-apiserver: changes, and which Zuul jobs are due for each by the changed paths.
All: skyline-tox-py38, skyline-functional-devstack

.zuul.yaml:

---
- job:
    name: skyline-functional-devstack
    parent: devstack
    description: |
      Skyline functional tests job based on devstack (single-node).
    pre-run: playbooks/devstack/pre.yaml
    run:
      - playbooks/devstack/run-devstack.yaml
      - playbooks/devstack/run-tox.yaml
    post-run:
      - playbooks/devstack/post.yaml
    required-projects:
      - openstack/skyline-apiserver
      - openstack/skyline-console
    vars:
      devstack_plugins:
        skyline-apiserver: https://opendev.org/openstack/skyline-apiserver
      zuul_copy_output:
        /var/log/skyline: logs
        /etc/skyline: logs
        /etc/nginx: logs
    host-vars:
      controller:
        tox_install_siblings: false
        tox_envlist: functional

- job:
    name: skyline-tox-py38
    parent: openstack-tox-py38
    description: |
      Skyline py38 unittest tests
    vars:
      python_version: 3.8
      tox_envlist: py38

- job:
    name: skyline-tox-pep8-py38
    parent: openstack-tox-py38
    description: |
      Skyline code static analysis
    vars:
      python_version: 3.8
      tox_envlist: pep8

- project:
    check:
      jobs:
        - skyline-tox-py38:
            irrelevant-files:
              - ^container/.*$
              - ^devstack/.*$
              - ^docs/.*$
              - ^tools/.*$
              - ^.*\.rst$
              - ^.*\.md$
              - ^kolla/.*$
        - skyline-tox-pep8-py38
        - skyline-functional-devstack:
            irrelevant-files:
              - ^container/.*$
              - ^docs/.*$
              - ^tools/.*$
              - ^.*\.rst$
              - ^.*\.md$
              - ^kolla/.*$
              # releasenotes
              - ^releasenotes/.*$
    gate:
      jobs:
        - skyline-tox-py38:
            irrelevant-files:
              - ^container/.*$
              - ^devstack/.*$
              - ^docs/.*$
              - ^tools/.*$
              - ^.*\.rst$
              - ^.*\.md$
              - ^kolla/.*$
        - skyline-tox-pep8-py38
        - skyline-functional-devstack:
            irrelevant-files:
              - ^container/.*$
              - ^docs/.*$
              - ^tools/.*$
              - ^.*\.rst$
              - ^.*\.md$
              - ^kolla/.*$
              # releasenotes
              - ^releasenotes/.*$
    post:
      jobs:
        - publish-openstack-python-branch-tarball

fix: prometheus response 500
  skyline_apiserver/api/v1/prometheus.py
Due: skyline-tox-py38, skyline-functional-devstack

fix: eliminate whitespace in passenv values
  tox.ini
Due: skyline-tox-py38, skyline-functional-devstack

docs: Add docker image address
  README-zh_CN.rst
Due: none

Update .gitreview for stable/2023.1
  .gitreview
Due: skyline-tox-py38, skyline-functional-devstack

Update TOX_CONSTRAINTS_FILE for stable/2023.1
  tox.ini
Due: skyline-tox-py38, skyline-functional-devstack

Update master for stable/2023.1
  releasenotes/source/2023.1.rst
  releasenotes/source/index.rst
Due: none

Update requirements and test-requirements
  requirements.txt
  test-requirements.txt
Due: skyline-tox-py38, skyline-functional-devstack

change sso port to be optional
  skyline_apiserver/api/v1/login.py
Due: skyline-tox-py38, skyline-functional-devstack

docs: add spec for feat 'Multi Region & Domain Switch'
  spec/bp-multi-region-domain-switch.md
Due: none

fix: Set stable-2023.1 version of skyline-console to use
  Makefile
Due: skyline-tox-py38, skyline-functional-devstack

feat: Add time_expired into cookie
  releasenotes/notes/add-time-expired-into-cookie-ea5d947625480f65.yaml
  skyline_apiserver/api/deps.py
  skyline_apiserver/api/v1/login.py
  skyline_apiserver/types/constants.py
Due: skyline-tox-py38, skyline-functional-devstack

docs: update kolla-ansible deploy skyline steps
  kolla/README-zh_CN.md
  kolla/README.md
Due: none

fix: Add GLOBAL_VENV into skyline devstack plugin script
  devstack/plugin.sh
Due: skyline-functional-devstack

Update .gitreview for stable/2023.2
  .gitreview
Due: skyline-tox-py38, skyline-functional-devstack

Update TOX_CONSTRAINTS_FILE for stable/2023.2
  tox.ini
Due: skyline-tox-py38, skyline-functional-devstack

Update master for stable/2023.2
  releasenotes/source/2023.2.rst
  releasenotes/source/index.rst
Due: none

fix: Compatible with member and _member_
  skyline_apiserver/policy/manager/barbican.py
  skyline_apiserver/policy/manager/cinder.py
  skyline_apiserver/policy/manager/glance.py
  skyline_apiserver/policy/manager/heat.py
  skyline_apiserver/policy/manager/ironic.py
  skyline_apiserver/policy/manager/manila.py
  skyline_apiserver/policy/manager/neutron.py
  skyline_apiserver/policy/manager/nova.py
  skyline_apiserver/policy/manager/octavia.py
Due: skyline-tox-py38, skyline-functional-devstack

Updating Target Attributes For Barbican Policy
  skyline_apiserver/api/v1/policy.py
Due: skyline-tox-py38, skyline-functional-devstack

fix: Updated the version of gunicorn
  requirements.txt
Due: skyline-tox-py38, skyline-functional-devstack

support masakari and designate
  etc/skyline.yaml.sample
  releasenotes/notes/add-masakari-and-designate-configs-policies-a20c8a5704122b1e.yaml
  skyline_apiserver/config/openstack.py
  skyline_apiserver/policy/manager/designate.py
  skyline_apiserver/policy/manager/masakari.py
  skyline_apiserver/types/constants.py
  tools/post_install.sh
Due: skyline-tox-py38, skyline-functional-devstack

Add configurable policy files
  releasenotes/notes/add-configurable-policy-files-7f4f2630bd497c90.yaml
  skyline_apiserver/api/v1/policy.py
  skyline_apiserver/config/default.py
  skyline_apiserver/policy/__init__.py
  skyline_apiserver/policy/base.py
Due: skyline-tox-py38, skyline-functional-devstack

Update the installation documentation
  README-zh_CN.rst
  README.rst
  doc/source/configuration/settings.rst
  doc/source/install/docker-install-ubuntu.rst
  doc/source/install/source-install-ubuntu.rst
  etc/skyline.yaml.sample
Due: skyline-tox-py38, skyline-functional-devstack

fix: fix login API error message
  skyline_apiserver/api/v1/login.py
Due: skyline-tox-py38, skyline-functional-devstack

fix: modify database connection way
  skyline_apiserver/db/base.py
Due: skyline-tox-py38, skyline-functional-devstack

feat: Add default_project_id
  releasenotes/notes/add-default-project-id-825e195531344394.yaml
  skyline_apiserver/api/v1/login.py
  skyline_apiserver/client/openstack/keystone.py
  skyline_apiserver/schemas/login.py
  swagger.json
Due: skyline-tox-py38, skyline-functional-devstack

fix: Use system session to handle
  skyline_apiserver/api/v1/login.py
Due: skyline-tox-py38, skyline-functional-devstack

refactor: Dropped redundant environment setting
  container/Dockerfile
Due: none

refactor: Official solution for python(3) tools
  container/Dockerfile
Due: none

refactor: Tuned
  container/Dockerfile
Due: none

feat: Base installation independent of sources
  container/Dockerfile
Due: none

refactor: Prefer separate LABEL instructions
  container/Dockerfile
Due: none

feat: Install requirements in separate step
  container/Dockerfile
Due: none

Use service_type instead of service_name
  skyline_apiserver/api/v1/login.py
  skyline_apiserver/client/openstack/system.py
  skyline_apiserver/client/utils.py
Due: skyline-tox-py38, skyline-functional-devstack

fix SQLAlchemy version
  requirements.txt
Due: skyline-tox-py38, skyline-functional-devstack

fix: remove console tarball before downloading
  Makefile
Due: skyline-tox-py38, skyline-functional-devstack

docs: bp-2024-h1-todo-list.md
  spec/bp-2024-h1-todo-list.md
Due: none

fix: user login failure due to no role assignment to its default project
  skyline_apiserver/api/v1/login.py
Due: skyline-tox-py38, skyline-functional-devstack
